@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:100,300,400,400i,500,700,900|Rubik:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Playball');

$main-ff:  'Roboto', sans-serif;
$main-fs: 14px;
$grey: #b8b8b8;
$black: #000;
$red: #de483d;
$yellow: #faca4a;
$white: #fafafa;
$green: #27AE60;
$blue: #3e8cd5;

/*breakpoints*/
$xs: 575.98px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

body {
	font-family: $main-ff;
	font-size: $main-fs;
	background: $white;
	color: $black;
}
* {
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
a {
	color: $grey;
}
h1, h2, h3, h4 ,h5 ,h6,p,li {
	margin: 0;
	padding: 0;
}
a, input, button, .btn, .form-control, select {
	&:focus {
		outline: none;
	}
}
ul {
	list-style: none;
}

form {
	padding: 1rem;
	label {
		position: relative;
	    padding-left: .5rem;
	    margin-bottom: .2rem;
	    .fas {
			font-size: .4rem;
		    position: absolute;
		    top: 0;
		    left: 0;
	    }
	}
	input.form-control {
		border-radius: 30px;
		font-size: .8rem!important;
	}
	textarea.form-control {
		border-radius: 30px;
		font-size: .8rem!important;
	}
}
.border-red {
	border-right: 5px solid $red;
	border-left: 5px solid $red;
	padding: 0 10px;
	margin: 0 auto;
}
.btn{
  display: flex;
  align-items: center;
  padding: 5px 0 5px 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  border:none;
  outline:none;
  cursor:pointer;              
  .fa{
    width: 1.5rem!important;
    height: 1.5rem!important;
    font-size: 1.1rem!important;
    text-align: center !important;
  	display: flex;
	align-items: center;
	justify-content: center;
    margin: 0 4px !important;
    border-radius:100%;
    background: #fff;
    color: #000;
  }
}
.btn-red {
	background: $red;
}
.btn-black {
	background: $black;
}
.btn-yellow {
	background: $yellow;
}
.btn-blue {
	background: $blue;
}
.modal {
	&#callback {
		.modal-content {
			margin: 0 auto;
			.modal-header {

				background: #faca5a;	
			}
			h5 {
				font-size: 1.1rem;
				font-weight: 400;
			}	
		}
		
	}
	.modal-content {
		width: 350px;
	}
	.modal-header {
		display: flex;
		justify-content: center;
		border: none;
		ul.nav {
			border: none;
			li{
				h5{
					cursor: pointer;
					padding: 0;
					border: none;
					&:hover {
					    color: #27AE60;
					}
					&.active {
						color: $red;
						border-bottom: 1px solid $red;
					}	
				}
				span {
					font-size: 1.5rem;
					margin: 0 .5rem;
				}
			}
		}
		.fa-times {
			    text-align: center;
				font-size: 1.5rem;
				width: 1.7rem;
				position: absolute;
				top: 0;
				right: 0;
				background: #de483d;
				color: #fff;
				cursor: pointer;
		}	
	}
	.modal-body {
		form {
			.btn {
				margin-left: auto;
			}
		}
	}	
}
.callback-icon {
	position: fixed;
	color: #FFF;
    background: #27AE60;
    z-index: 999;
    right: 68px;
    bottom: 20px;
    text-align: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    transition: all ease-in-out .3s;
    &:before, &:after {
    	position: absolute;
	    content: '';
	    border: solid 1px;
    	border-color: #27AE60 transparent;
	    border-radius: 100%;
    }
    &:before {
	    top: -8px;
	    bottom: -8px;
	    left: -8px;
	    right: -8px;
	    animation: spin 4s infinite linear;
	}
 	&:after {
	    top: -16px;
	    bottom: -16px;
	    left: -16px;
	    right: -16px;
	    animation: spin 5s infinite linear;
	}

 	.fa {
	    line-height: 40px;
	    font-size: 17px;
   		transform: rotate(225deg);
	    transition: all ease-in-out .3s;
	    animation: spin-icon 1s infinite ease-in-out;
 	}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


/* @-moz-keyframes spin-icon {
    from { -moz-transform: rotate(180deg); }
    to { -moz-transform: rotate(210deg); }
}
@-webkit-keyframes spin-icon {
    from { -webkit-transform: rotate(180deg); }
    to { -webkit-transform: rotate(210deg); }
}
@keyframes spin-icon {
    from {transform:rotate(180deg);}
    to {transform:rotate(210deg);}
} */
nav a:hover{
	text-decoration: none;
}
.nav-top {
  background: #555 url(images/nav-top-bg.jpg);
  background-repeat: repeat-x;
  padding-bottom: 0;  
  ul li{
    // margin-right: 80px;
       @media only screen and (max-width: 769px) {
          padding:.7rem;
      } 
    a{
      color: $white;
     
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
  .navbar-toggler{
  }
  .fa-user{
        border: none;
        background:transparent;
        color:#fff;        
  }
  .user-dropdown{
          left: -100px !important; 
  }
  .dropdown-menu{
    background-color:#555 !important;
    border: none;
     .dropdown-item:hover {
         background-color:$red !important;
      }
  }
     input {
      font-size: .9rem;
      color: $grey;
      border: 1px solid $grey;
      border-radius: 0;
    }
    .input-group {
      width: 100%;
      span {
        background: #000;
          padding: 5px 8px;
      }
    }
}
.nav-middle {
  img {
    width: 10rem;
    height: 8rem;
  }
  .nav-middle-in {
    border-bottom: 3px solid $black;
  }
  .category {
    select{
        background: transparent;
	    border: none;
	    font-size: .8rem;
	    outline: none;
	    }
    .dropdown, input {
      font-size: .9rem;
      color: $grey;
      border: 1px solid $grey;
      border-radius: 0;
    }
    .dropdown {
      border-right: none;  
    }
    .input-group {
      width: 100%;
      span {
        background: #000;
          padding: 5px 8px;
      }
    }
  }
  .call {
    span {
      color: $black;
    }
    .phone {
      font-size: 1.5rem;
      font-weight: bold;
      color:$red;
    }
    .time {
      font-size: 1rem;
    }
    .more {
      font-size: 0.9rem;
      a {
        color: $black;
        font-weight: bold;
        text-decoration:underline;
      }
    }
  }
  .basket {
    span {
      font-size: 1rem;
      a {
        color: $red;
        font-size: .9rem;
        font-weight: 700;
        text-decoration:underline;
      }
    }    
  }
  .basket-left {
      background: #f5f5f5;
      border-radius: 50%;
      padding: .5rem;
      margin-right: 5px;
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .1);
      .fa-shopping-basket {
        color: $black;
        font-size: 1.65rem;
      }
     span {
	      color: #FFFFFF;
		    background: #EB5858;
		    position: absolute;
		    // bottom: -1px;
		    margin: -.6rem 0 0 1.4rem;
		    padding: 0 4px;
		    min-width: 18px;
		    height: 18px;
		    line-height: 16px;
		    text-align: center;
		    font-size: 0.9em;
		    font-weight: 400;
		    border-radius: 100%;
		    text-shadow: none;
		}
    }
}
.m-select{
  	padding: 8px 0 8px 10px;
  	border-radius: 30px;
    width: 8rem;
    font-size: 11px;
    color:#000;
    outline:none;
	width: 180px;
}
.nav-bottom {
  ul{
    position: relative;
    li {
    margin-right: 45px;
      a{
        color: $black;
        &:hover {
          color: $red;
        }
      }

    }
    .dropdown {
      position: static;
      div {
        width: 100%;
        a {
          display: inline-block;
          width: auto;
        }
      }
    }
    .zapis{
        background: $red;
        // border: .1rem solid$red;
        height: 2rem;
        padding: 0 .4rem;
        a{
          color:#fff;
        }
      }
  }
   @media only screen and (max-width: 1024px) {
      display: none;
  } 
}
.section-slider {
	.carousel-inner .carousel-item{
		background: $grey url(../img/wheels.jpg) no-repeat;
		background-size: 100%;
		padding: 10rem 4rem 18rem 16rem;
		background-size: cover;
		h2 {
			display: inline;
			font-size: 2.3rem;
			text-transform: uppercase;
			border-right: 5px solid $red;
			border-left: 5px solid $red;
			padding: 0 10px;
			font-weight: 600
				
		}
		h1 {
			span {
				font-family: 'Playball', cursive;
			}
			font-size: 5rem;
			margin: 2rem 0 2.3rem;
		}
		h2, h1, .down {
			color: #fff;
		}	
		.btn {
			font-size: 1.4rem;
			font-weight: 600;
			padding-top: 2px;
			padding-bottom: 2px;
			.fa {
				font-size: 1.5rem;
			}
		}
		span.down {
			border: 1px solid #fff;
			border-radius: 100%;
			padding: 0.714rem 1rem;
			position: absolute;
			right: 47%;
    		bottom: 24%;
			cursor: pointer;
		}
	}
	.carousel-control-next, 
	.carousel-control-prev {
		width: 7%;
	}
}
.products {
	background: $white;
	.product-top {
		background: #fff;
	    padding: 10px 30px 15px;
	    margin-top: -50px;
	    margin-bottom: 2rem;
	    z-index: 10;
	    text-align: center;
	    width: 100%;
		.h2-wr {
			background: $red;
			display: inline-block;
			h2 {
				text-align: center;
				padding: 0 10px;
				border-right: 5px solid #fff;
				border-left: 5px solid #fff;
				color: #fff;
				text-transform: uppercase;
				margin-bottom: 0;
			}	
		}
		.wheels {
			.wheel {
				cursor:pointer;
				margin-bottom: 1rem;
			}
			img {
				width: 60px;
			}
		}
		.btn-black {
			margin-left: auto;
		}
	}
	.wheel-corusel {
		background: #fff;
		padding: 1rem;
		ul {
    		display: flex;
    		cursor: pointer;
			li {
				background: #dfdfdf;
				padding: 8px 10px;
				margin-right: 1rem;
				&.active-1:hover {
					background: #3cd225; 
				}
				&.active-2:hover {
					background: $red;
				}
				&.active-3:hover {
					background: #f58a00;
				}
				h2 {
					color: #fff;
					font-size: 1.2857rem;
					&:hover {
						color: #fff;
						text-decoration: none;
					}	
				}
			}
		}
		&#wheel-corusel-1 {
			li.active-1 {
				background: #3cd225;
			}
		}
		&#wheel-corusel-2 {
			li.active-2 {
				background:$red;
			}

		}
		&#wheel-corusel-3 {
			li.active-3 {
				background:#f58a00;
			}

		}
			
	}
}
.owl-carousel {
	.item {
		position: relative;
		text-align:left;
		img {
		max-width: 150px;
		margin: 0 auto 1rem auto;
		}
		p {
			line-height: 2rem;
		}
		.star {
			background: url(../img/star-grey.png);
			height: 17px;
			background-repeat: repeat-x;
			background-position: top center;
			width: 80px;
		}
		p ,h3, .star {
			margin-left: 1rem;
			color: $black;
		}
		h3 {
			font-size: 1.714rem;
			line-height: 3rem;
		}
		.element {
			position: absolute;
			left: 11%;
			top: 5%;
			z-index: 10;
			width: 35px;
		}
	}
}
.owl-carousel {
	text-align: center; 
	.owl-nav {
		display: inline-block;
		border: 1px solid $grey;
    	border-radius: 30px;
		button {
			&:hover {
				background: none;
			}
			i.fa {
				background: $grey;
			    padding: 5px 10px;
			    border-radius: 50%;
			    color: #fff;
			}
			&.owl-prev {
				margin-right: 35px;
			}
			&.owl-prev:hover,
			&.owl-next:hover {
				background: transparent;
			}
		}
	}
}

.choise{
	.choise-in {
		display: none;
		justify-content: space-around;
		text-align: left;
		flex-wrap: wrap;
		&:first-child {
			display: flex;
		}
		.character {
			margin-bottom: 1rem;
		}
	}
	.character, .automobile {
		h3 {
			border-left: 5px solid $red;
			font-size: 1rem;
			padding: 7px;
			color: $black;
			margin-bottom: .5rem;
		}
		.select-box {
			display: flex;
			flex-wrap: wrap;
			select.m-select{
		        margin: 0 1rem 1rem 0;
			}
		}
		p {
			font-size: 0.7857rem;
		}
	} 
} 
.welcome {
	padding: 4.642rem 0;
	background: $red;
	h2, p {
		color: #fff;
	}
	h2 {
		font-size: 1.714rem;
		line-height: 3rem;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	p {
		font-size: 0.857rem;
		&.advantage {
			position: relative;
			width: 100%;
			padding-left: 1.2857rem;
			.fa-check {
				position: absolute;
			    bottom: 10%;	
			    left: 0;
			}
		}
	}
	.cicle {
		background: $red;
		position: absolute;
	    left: 44.5%;
	    top: 40%;
	    width: 65px;
	    height: 65px;
	    z-index: 10;
	    border-radius: 100%;
	}
	.box {
		padding: 35px 0;
		background: #fff;
		text-align:center;
		margin-bottom: 1rem;
		.fa-taxi {
				font-size: 3.21rem;
				color: $black;
				border-radius: 100%;
				padding: 10px;
				border: 1px solid $grey;
				margin-bottom: 1rem;
		}
		p {
			color: $black;
		}
		

	}
}
.subscription {
	padding: 1.428rem 0 2.857rem;
	background: #333;
	h2 {
		font-size: 1.714rem;
	    line-height: 2rem;
	    text-transform: uppercase;
	    text-align: center;
	    border-right: 5px solid $red;
	    border-left: 5px solid $red;
	    padding: 0 0.714rem;
	    color: #fff;
	    margin: 0 1rem 1rem;
	}
	.form-group {
		position: relative;
		input {
			background: transparent;
    		border: 1px solid $grey;
    		border-radius: 15px;
    		padding-left: 3rem;
		}
		.fa-user, .fa-envelope {
			position: absolute;
			color: $grey;
			font-size: 1.2rem;
			top: 20%;
    		left: 10%;
		}
		button {
			position: absolute;
		    top: 5px;
		    right: -10%;
		    padding: 0;
			.fa {
				color: #fff;
				background: none;
				margin: 0;
			}	
		}
	}
}
.partners { 
	background: #fafafa;
	h2 {
		line-height: 3rem;
	    text-transform: uppercase;
	    text-align: center;
	    border-right: 5px solid $red;
	    border-left: 5px solid $red;
	    padding: 0 10px;
	    margin: 1rem auto;
		font-size: 1.714rem;
		color: $black;
	}
	.owl-carousel {
		.owl-stage {
			display: flex;
			align-items: center;

		}
		.item {
			text-align: left;
			img {
				max-width: 195px;
				margin: 0 auto;
			}
		}
	}
}
.parallax{
	height: 20vh;
	position: relative;
	overflow: hidden;
	.parrallax-image{
		position: absolute;
		width: 100%;
		margin-top: -440px;	

	}
}
.breadCumbs{
	padding: 1rem 0;
  box-shadow: 0px 30px 50px -24px rgba(0,0,0,0.1);
	.fa{
		margin: 0 1rem;
	}
}
.main-items{
	h5{
      font: 600 1.4rem 'Open Sans',sans-serif;
      padding-left: 1rem;
      border-left: 4px solid $red;
      margin: 0.57rem 0 1rem;
      line-height: 1;
      padding: 1px 0 1px 1rem;
    }
	margin-bottom: 2rem;
  	.item-container{
	    border: 1px solid $grey;
	    padding: .5rem;
	    background: #fff;
	    margin-bottom: 1rem;
	    .item-image{
	      height: 14rem;
	      width: 11rem;
	      background-color:#fff;
	      padding: 1rem 2rem;
	      .item-wheel{
	        height: 100%;
	        width: 90%;
	        margin: auto;
	        // position: ;
	      }
	      .item-extra{
	        position: absolute;
	        margin-left:-2rem;
	        margin-top:-1rem;
	        // z-index: 9999;
	      }
	      .item-compare{
	        height:1rem;
	        width: 1rem;
	        margin-left:1.2rem;
	        position: absolute;
	        color:$red;
	        cursor: pointer;
	        outline:none;
	      }
	    }
	    .item-info{
	      padding: .5rem 1rem;
	      .item-info-text{
	        
	        .item-info-text-main{
	          padding: .5rem 0 0 1.5rem;
	        }
	      }
	      .item-info-buy{
	      	margin-right: 1.428rem;
	        .item-info-upper{
	          .item-info-counter{
	            .item-info-counter-box{
	              height: 3rem;
	              width: 3rem;
	              background:#fff;
	              border:1px solid$grey;              
	              .info{                
	                font-size: 1.4rem;
	              }
	            }
	            button{
	              width: 1.2rem;
	              height: 1.2rem;
	              border: 1px solid $grey;
	              color: $grey;
	              border-radius: 8px;
	              text-align: center;
	              text-decoration: none;              
	              outline:none;
	              cursor:pointer;
	              margin-left: .8rem;
	              -webkit-transition: all 0.3s ease-in-out;
	              -moz-transition: all 0.3s ease-in-out;
	              -o-transition: all 0.3s ease-in-out;
	              transition: all 0.3s ease-in-out; 
	            }
	          }
	          .item-info-price{
	            h5{
	              font-weight: bold;
	              font-family: "Roboto", sans-serif;
	            }
	            h4{
	              color:$yellow;
	            }
	          }
	        }  
	        .item-extra-price{
	          font-size: 1.2rem;
	          span{
	            font-weight: bold;
	          }          
	        }    
	        .item-count {
	          color:$red;
	          font-size: 1.2rem;
	          font-weight: bold;
	        }
	        .button-group{
	        	.btn-red {
	        		margin-right: 1rem;
	        	}
	          
	        }
	      }
	    }
	}
	.desc-wrap {
	    border: 1px solid $grey;
	    padding: .5rem;
	    background: #fff;
	    .desc {
	    	margin-bottom: 1rem;
		    p {
		    	line-height: 2rem;
		    }	
	    }   
	}
}
.reviews-wrap {
	.reviews {
		background: #fff;
		.description-header {
			border-top: 1px solid $grey;
			border-bottom: 1px solid $grey;
			padding: .5rem 0 .5rem 1rem;
			h5 {
				font-size: 1rem;
				padding-left: .5px;
			}	
		}
		
		ul {
			margin-bottom: 0;
			display: flex;
			cursor: pointer;
			li {
				position: relative;
				&:after {
					box-shadow: inset 0 1px 1px #fff;
				    background: #f5f5f5;
				    content: '';
				    position: absolute;
				    z-index: 1;
				    top: 0;
				    right: -5px;
				    bottom: 0;
				    width: 20px;
				    -webkit-transform: skew(20deg);
				    -moz-transform: skew(20deg);
				    -ms-transform: skew(20deg);
				    -o-transform: skew(20deg);
				    transform: skew(21deg);
				    -webkit-border-radius: 0 5px 0 0;
				    -moz-border-radius: 0 5px 0 0;
				    border-radius: 0 5px 0 0;
				    border-right: 1px solid #ccc;
				    border-top: 1px solid #ddd;
				    border-bottom: solid 1px #ddd;
				}
				&.active{
					&:after {
					    z-index: 10;
					    background: #fff;
					    border-bottom: none;
					}
					a {
						color: $red;
					}
				}
				font-size: 1.2rem;
				a {
				    margin-right: 4px;
				    padding: 9px 10px 10px 15px;
				    background: #f5f5f5;
				    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
				    border: solid 1px #ddd;
				    box-shadow: inset 0 1px 1px #fff;
				    &:hover {
				    	color: #27AE60;
				    }
				}
				.fas {
					margin-right: 5px;
				}
				&.active {
					color: red;
					border-bottom: none;
				}
			}
		}
		.descriptionn {
			padding: 1.5rem;
		}

		#review {		
			.btn {
				margin: 1rem 0;
				margin-left: auto;
			}
			form {
				background: #fafafa;
				padding: 1rem;
				margin-bottom: 1rem;
				.form-group {
					margin-bottom: 2.5rem;
				}
				label , p {
					position: relative;
    				padding-left: .5rem;
    				margin-bottom: .2rem;
					.fas {
						color: $red;
					}	
				}
				.rating {
					position: relative;
					span {
						    background: url(../img/star-grey.png) 0 0 repeat-x;
						    width: 80px;
						    position: absolute;
						    height: 15px;
						    left: 6%;	
					}
				}
				
			}
		}		
	}
}
.similar {
	h3 {
		margin-bottom: 4rem;
	}
}

footer {  
	#to-top {
	    background-color: rgba(0, 0, 0, 0.6);
	    display: none;
	    padding: 7px;
	    color: #fff;
	    position: fixed;
	    right: 20px;
	    bottom: 20px;
	    z-index: 9999;
	    border-radius: 3px;
	}
  padding: 2.14rem 0 0;
  background: #333;
  color: $grey;
  .left-footer {  
      border-right: 1px solid $grey;
      padding-right: 2.5rem;
       @media only screen and (max-width: 780px) { 
         border-right: none !important;
         padding: 0;        
      } 
    p {
      color: #fff;
      font-size: 0.67rem;
      margin: -1.4285rem 0 .5rem;
    }  
    img {
      width: 180px;
    }
    .icons li{
      font-size: 1.5rem;
        margin-right: 1rem;
    }
    .company-info{
      font-size: 1.2rem;
    }
  }
  .right-footer {
    ul {
      li {
        font-size: 0.85rem;
        line-height: 2.3rem;

        i{
        @media only screen and (max-width: 780px) { 
            font-size: .8rem !important;        
        }}
        &.active {
          color: #fff;
          line-height: 5rem;
          font: 600 1.28rem 'Open Sans', sans-serif;
        }
        .site{
          text-decoration: underline;
        }
      }
    }
  }
}
@media screen and (max-width: $sm) { 
	body, html {
		font-size: 10px;
	}

	.section-slider {
		.carousel-inner .carousel-item{
			padding: 5rem 2rem 9rem 4rem;
			h2 {
				font-size: 1.5rem;	
			}
			h1 {
				font-size: 3rem;
				margin: 0.5rem 0 2.3rem;
			}
		}
	}
	.products{
		.product-top {
			h2 {
				font-size: 1.5rem;
				padding: 0 0.7rem;
			}
		}
		.wheel-corusel li {
			display: none;
			.active-main {
				width: 100%;
				display: block;
			}
			.welcome .box-wrap {
				display: none;
			}
		} 
	}
	.section-slider .carousel-inner .carousel-item span.down {
		bottom: 30%;
	}
	.subscription h2 {
		font-size: 1rem;
	}
	.welcome {
		.box-wrap {
			display: none;
		}
	}
	.reviews #review form .rating span {
	    left: 14%!important;
	}	
}
.payment {
	margin-top: 50px;
	max-width: 600px;
	padding: 1rem;
	border: 1px solid $grey;
	background: #fff;
	.payment-header {
		img {
			max-width: 135px!important;
			display: block;
			margin: 0 auto;
		}
		.info {
			border-top: 3px solid $grey;
			padding: .5rem 0;
			.col-md-6 {
				padding-left: 0!important;
			}
			p {
				margin-right: 1rem;
			}
			span {
				font-weight: 550;
			}
		}	
	}
	.payment-body {
		padding: .5rem 0;
    	border-top: 1px dashed $grey;
    	border-bottom: 1px dashed $grey;
    	
		.description {
			border-bottom: 1px dashed $grey;
		}
		form {
			.form-group {
				display: flex;
				justify-items: center;
				margin-bottom: .5rem;
				&:last-child {
					margin-bottom: 0;
				}
				span {
					margin: 0 5px;
				}
				select {
					font-size: .8rem;
					border: 1px solid $grey;
				}
				label {
					margin-right: 3rem;
	    			font-size: .8rem;
	    			padding-left: 0;
	    			min-width: 150px;
				}
				input {
					max-width: 250px;
	    			padding: 0;
	    			border-radius: none!important;
				}
			}
			padding: 1rem 0;
		}

	}
	.payment-footer {
		.visa-wrapper {
			margin-bottom: .5rem;
			img {
				max-width: 100px;
				max-height: 20px;
			}	
		}
		.btn {
			font-size: 1rem;
		}
		span {
			display: block;
		    border-top: 1px dashed #CCC;
		    text-align: right;
		    padding-top: .5rem;
		}
	}
}
.shippin {
	padding: 1rem;
	margin-top: 1rem;
	.shippin-header {
		padding-left: 1rem;
		h4 {
			display: inline-block;
			border-bottom: 3px solid $yellow;
			padding-bottom: .6rem;	
			font-weight: 400;
		}
		margin-bottom: 1rem;
	}
	.form-wrap {
		background-color: #fff;
		padding: 1rem 0;
		.wrapper-contact {
			padding: 1rem 0 1.5rem;
			border-bottom: 1px solid $grey;
			margin-bottom: 2.5rem;
			h5 {
				font-size: 1.1rem;
				font-weight: 400;
			}	
		}
		.address {
			margin-top: 2rem;
		}
		.total {
			margin-top: 1.5rem;
			margin-left: 1rem;

			p {
				span {
					font-weight: 600;
				}
			}
		}
		.btn-red {
			margin: 1rem .5rem .5rem auto;
			border: 1px solid transparent;
			&:hover {
				background: #fff;
				color: $red;
				border: 1px solid $red;
			}
		}
	}
}
/* Loader */
.preloaderjs .spinner{
  display:none !important;
}
.preloaderjs#page-preloader{
  background:  $white  !important;
}
#page-preloader {
  position: fixed;
  z-index: 100500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
}
#page-preloader .spinner {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
  border: 3px solid transparent;
  border-top-color: #3cd225;
  border-radius: 50%;
}
#page-preloader .spinner:before, #page-preloader .spinner:after {
  position: absolute;
  content: '';
  border-radius: 50%;
}
#page-preloader .spinner:before {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  border: 3px solid transparent;
  border-top-color:#2475ce;
}
#page-preloader .spinner:after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  border: 3px solid transparent;
  border-top-color: #f76d2b;
}
@-webkit-keyframes spin {
  0% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@keyframes spin {
  0% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

/* Pager Slider */

.pagerSlider .bx-wrapper .bx-controls-direction a{
  display: none !important;
}
.pagerSlider .bx-wrapper:hover .bx-controls-direction a{
  display: block !important;
}
.pagerSlider .bx-wrapper .bx-controls-direction a span{
  color: #fff;
  display: block;
  font-size: 29px;
  text-align: center;
  text-indent: 0;
  background-color:white;
}
.pagerSlider .bx-wrapper .bx-controls-direction a.disabled{
  display: none !important;
}
.pagerSlider.pagerVertical .bx-wrapper .bx-controls-direction a.bx-prev{
  background-color: $white;
  left: 0;
  margin: 0;
  top: 5px;
  width: 92%;
}
.pagerSlider.pagerVertical .bx-wrapper .bx-controls-direction a.bx-next{
  background-color: $white;
  bottom: 5px;
  left: 0;
  margin: 0;
  top: auto;
  width: 92%;
}
