@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:100,300,400,400i,500,700,900|Rubik:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Playball');

$main-ff:  'Roboto', sans-serif;
$main-fs: 14px;
$grey: #b8b8b8;
$black: #000;
$red: #de483d;
$yellow: #faca4a;
$white: #fafafa;

/* Loader */
.preloaderjs .spinner{
  display:none !important;
}
.preloaderjs#page-preloader{
  background:  $white  !important;
}
#page-preloader {
  position: fixed;
  z-index: 100500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
}
#page-preloader .spinner {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
  border: 3px solid transparent;
  border-top-color: #3cd225;
  border-radius: 50%;
}
#page-preloader .spinner:before, #page-preloader .spinner:after {
  position: absolute;
  content: '';
  border-radius: 50%;
}
#page-preloader .spinner:before {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  border: 3px solid transparent;
  border-top-color:#2475ce;
}
#page-preloader .spinner:after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  border: 3px solid transparent;
  border-top-color: #f76d2b;
}
@-webkit-keyframes spin {
  0% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@keyframes spin {
  0% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}

/* Pager Slider */

.pagerSlider .bx-wrapper .bx-controls-direction a{
  display: none !important;
}
.pagerSlider .bx-wrapper:hover .bx-controls-direction a{
  display: block !important;
}
.pagerSlider .bx-wrapper .bx-controls-direction a span{
  color: #fff;
  display: block;
  font-size: 29px;
  text-align: center;
  text-indent: 0;
  background-color:white;
}
.pagerSlider .bx-wrapper .bx-controls-direction a.disabled{
  display: none !important;
}
.pagerSlider.pagerVertical .bx-wrapper .bx-controls-direction a.bx-prev{
  background-color: $white;
  left: 0;
  margin: 0;
  top: 5px;
  width: 92%;
}
.pagerSlider.pagerVertical .bx-wrapper .bx-controls-direction a.bx-next{
  background-color: $white;
  bottom: 5px;
  left: 0;
  margin: 0;
  top: auto;
  width: 92%;
}

body {
  font-family: $main-ff;
  font-size: $main-fs;
  background: $white;
  color: $black;
}
* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  color: $grey;
  &:hover{
    color:$white;
  }
}
h1, h2, h3, h4 ,h5 ,h6,p,li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.nav-top {
  background: #555 url(images/nav-top-bg.jpg);
  background-repeat: repeat-x;
  padding-bottom: 0;  
  ul li{
    // margin-right: 80px;
       @media only screen and (max-width: 769px) {
          padding:.7rem;
      } 
    a{
      color: $white;
     
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
  .navbar-toggler{
  }
  .fa-user{
        border: none;
        background:transparent;
        color:#fff;        
  }
  .user-dropdown{
          left: -100px !important; 
  }
  .dropdown-menu{
    background-color:#555 !important;
    border: none;
     .dropdown-item:hover {
         background-color:$red !important;
      }
  }
     input {
      font-size: .9rem;
      color: $grey;
      border: 1px solid $grey;
      border-radius: 0;
    }
    .input-group {
      width: 100%;
      span {
        background: #000;
          padding: 5px 8px;
      }
    }
  }
  .nav-middle {
  img {
    width: 10rem;
    height: 8rem;
  }
  .nav-middle-in {
    border-bottom: 3px solid $black;
  }
  .category {
    select{
    background: transparent;
    border: none;
    -o-border: none;
    -moz-border:none;
    font-size: .8rem;
    outline: none;
    }
    .dropdown, input {
      font-size: .9rem;
      color: $grey;
      border: 1px solid $grey;
      border-radius: 0;
    }
    .dropdown {
      border-right: none;  
    }
    .input-group {
      width: 100%;
      span {
        background: #000;
          padding: 5px 8px;
      }
    }
  }
  .call {
    span {
      color: $black;
    }
    .phone {
      font-size: 1.5rem;
      font-weight: bold;
      color:$red;
    }
    .time {
      font-size: 1rem;
    }
    .more {
      font-size: 0.9rem;
      a {
        color: $black;
        font-weight: bold;
        text-decoration:underline;
        &:hover{
          text-decoration:none;
        }
      }
    }
  }
  .basket {
    span {
      font-size: 1rem;
      a {
        color: $red;
        font-size: .9rem;
        font-weight: 700;
        text-decoration:underline;
      }
    }    
  }
  .basket-left {
      background: #f5f5f5;
      border-radius: 50%;
      padding: .5rem;
      margin-right: 5px;
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .1);
      .fa-shopping-basket {
        color: $black;
        font-size: 1.65rem;
      }
     span {
      color: #FFFFFF;
    background: #EB5858;
    position: absolute;
    // bottom: -1px;
    margin: -.6rem 0 0 1.4rem;
    padding: 0 4px;
    min-width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 100%;
    text-shadow: none;
}
    }
}
.nav-bottom {
  ul{
    position: relative;
    li {
    margin-right: 45px;
      a{
        color: $black;
        &:hover {
          color: $red;
        }
      }

    }
    .dropdown {
      position: static;
      div {
        width: 100%;
        a {
          display: inline-block;
          width: auto;
        }
      }
    }
    .zapis{
        background: $red;
        // border: .1rem solid$red;
        height: 2rem;
        padding: 0 .4rem;
        a{
          color:#fff;
        }
      }
  }
   @media only screen and (max-width: 1024px) {
      display: none;
  } 
}

.parallax{
	height: 20vh;
	position: relative;
	overflow: hidden;
	.parrallax-image{
		position: absolute;
		width: 100%;
		margin-top: -520px;	

	}
  @media only screen and (max-width: 1024px) {
      display: none;
  }
}
.breadCumbs{
	padding: 1rem 0;
  box-shadow: 0px 30px 50px -24px rgba(0,0,0,0.1);
	.fa{
		margin: 0 1rem;
	}
  a{
    color:$black;
  }
}

.contact-section{
  padding: 2rem .4rem;
  .contact-select{
    h5{

      border-left: 4px solid $red;
    }
    .contact-address{
      a{
        border-bottom:1px solid $grey !important;
        &:hover{    
          color:$red;
          border-bottom:1px solid $red !important;
        }
        &[aria-selected="true"]{
          color:$red !important;
          border-bottom:1px solid $red !important;
        }
      }
    }
    .contact-info-address{
     @media only screen and (min-width: 1024px) {
      padding-left: 1rem;
    }
  }

  }
  h5{      
      float: left;
      font: 600 20px 'Open Sans',sans-serif;
      padding-left: 15px;
      margin: 8px 0 0 0;
      line-height: 1;
      padding: 1px 0 1px 15px;
    }
    p, a{
      font-size: 1rem;
      color:$black;
      font-family:'Rubik',sans-serif;
    }
    .map{
      height: 25rem;
       @media only screen and (max-width: 1024px) {
        margin-top: 2rem;
      }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:$black;
    background-color: transparent;
  }
}






footer {  
  padding: 2.14rem 0 0;
  background: #333;
  color: $grey;
  .left-footer {  
      border-right: 1px solid $grey;
      padding-right: 2.5rem;
       @media only screen and (max-width: 780px) { 
         border-right: none !important;
         padding: 0;        
      } 
    p {
      color: #fff;
      font-size: 0.67rem;
      margin: -1.4285rem 0 .5rem;
    }  
    img {
      width: 180px;
    }
    .icons li{
      font-size: 1.5rem;
        margin-right: 1rem;
    }
    .company-info{
      font-size: 1.2rem;
    }
  }
  .right-footer {
    ul {
      li {
        font-size: 0.85rem;
        line-height: 2.3rem;

        i{
        @media only screen and (max-width: 780px) { 
            font-size: .8rem !important;        
        }}
        &.active {
          color: #fff;
          line-height: 5rem;
          font: 600 1.28rem 'Open Sans', sans-serif;
        }
        .site{
          text-decoration: underline;
        }
      }
    }
  }
}



.m-select{
  padding: 8px 0 8px 10px;
  border-radius: 30px;
        width: 8rem;
        font-size: 11px;
        color:#000;
        outline:none;
}

#to-top {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    padding: 15px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    border-radius: 3px;
}


